{% extends 'template.njk' %}

{% block title %}Mensagem do Aplicativo{% endblock %}
{% block content %}
    <h1 class="text-center">{{ mensagem }}</h1>
    <p class="text-center"><a  class="btn btn-primary" href="{{ link }}">Voltar</a></p>
{% endblock %}